body {
	
	background-image: url("Lemons.jpeg");
	margin: 1em auto;
	font-size: 20px;
	padding: 1em;
	text-align: center;
	font-family: "chalkduster", "fantasy", sans-serif;
	
}

h1 {
	color: #010100;
	font-size: 4em;
	font-family: "Luminari", "fantasy", sans-serif;
}

p {
	color: #010100;
	max-width: 30em;
	width: 100%;
	text-align: left;
	margin: 1em auto;
	font-size: 2em;
	line-height: 1.5;
}

ul { 
  display: block;
  list-style-type: disc;
  margin-top: 0em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}





