body {
	background:  url("lemons.png");
	background-size: auto;
	margin: 1em auto;
	font-size: 20px;
	padding: 1em;
	text-align: center;
	font-family: "chalkduster", "fantasy", sans-serif;
	
}

h1 {
	color: #010100;
	font-size: 4em;
	font-family: "Luminari", "fantasy", sans-serif;
}

p {
	color: #010100;
	max-width: 30em;
	width: 100%;
	text-align: left;
	margin: 1em auto;
	font-size: 2em;
	line-height: 1.5;







